<div class="col-md-4">
  <%= link_to "start from the beginning", adventure_chapter_path(@adventure, @chapter) %>
  <% unless @chapters == [] %>
    <%= link_to "jump back into the adventure", adventure_chapter_path(@adventure, @chapters.last) %>
  <% end %>
	<div class="panel panel-default">
    <%= render 'progress' %>
	</div>
</div>